.list-students {
    margin-top: 40px;
}

.buscador {
    margin-top: 40px;
}

.ng-tns-c1205077789-1 {
    width: 800px;
    padding-left: 20px;
}

.mat-mdc-button-persistent-ripple::before {
    width: 53px !important;
}
